@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wrap {
  background-image: url(./img/Background.png);
  background-size: cover;
  display: flex;
  font-family: "Roboto";
  color: #fff;
  max-width: 1324px;
  min-width: 320px;
  min-height: 1024px;
  margin: auto;
}

.menu {
  margin: 130px 100px 0;
}

.title h2 {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 8px;
}

.title h3 {
  font-size: 20px;
  font-weight: 400;
  margin:  0 0 60px 0;
}

.difficulty-levels {
  position: relative;
  margin-bottom: 113px;
}

.level {
  display: flex;
  margin: 0 0 23px 0;
}

.easy,
.medium,
.hard {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 48px;
  cursor: pointer;
}

.level:visited::before,
.level:hover::before,
.level:active::before,
.level_active:before {
  content: ' ';
  background-image: url(./img/Rectangle2.png);
  background-size: cover;
  border: none;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 15px;
}

.start-button {
  background-color: #D62B2E;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  width: 352px;
  height: 95px;
  margin: 0;
  padding: 0;
}

.pictures {
  position: absolute;
  top: 50%;
  right: 8%;
}

.bottom-card {
  width: 218px;
  height: 341px;
  transform: rotate(11.9deg);
}

.top-card {
  position: relative;
  right: 45px;
  top: 20px;
  width: 218px;
  height: 341px;
  transform: rotate(39.26deg);
}

.card-wrap {
  position: relative;
  width: 218px;
  height: 341px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  transform-style: preserve-3d;
  transition: transform .8s;
}

.card-wrap_hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transform: rotate(-3.08deg) translateY(-15px);
  transition: .4s ease;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./img/card.png);
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.winner-card {
  position: absolute;
  width: 218px;
  height: 341px;
  background-image: url(./img/card2-bag.png);
  background-repeat: no-repeat;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.looser-card {
  position: absolute;
  width: 218px;
  height: 341px;
  background-image: url(./img/card-game-over.png);
  background-repeat: no-repeat;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-click {
  transform: rotateY(180deg);
}

.three-card-field {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 702px;
  height: 341px;
  margin: auto;
  perspective: 1000px;
}

.six-card-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 702px;
  height: 706px;
  margin: auto;
  perspective: 1000px;
}

.ten-card-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1186px;
  height: 706px;
  margin: auto;
  perspective: 1000px;
}